# Ignore virtual environment directory
.venv/

# Ignore __pycache__ folders
__pycache__/

# Ignore .env file as it contains sensitive information
.env

# macOS-specific system files
.DS_Store

# folder for the science_qa data (too big to be stored in the repo)
science_qa/
models/